.section_daylog {
    width: 1300px;
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr 2fr;
    grid-template-areas: "daylog_section1 daylog_section2 daylog_section3";
    padding-right: 140px;
}
.section_daylog .daylog_title {
    font-size: 7vw;
    margin-top: 150px;
}
.section_daylog .dalog_text {
    font-size: 1vw;
    margin-top: 10%;
}
.section_daylog .daylog_section1 ul {
    margin-left: 15%;
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-right: 2%;
    margin-top: 56%;
    font-size: 1vw;
}
.section_daylog .daylog_title_container {
    margin-bottom: 50%;
}

.section_daylog .day-log__icon a {
    color: black;
    font-size: 20px;
    margin-right: 10px;
}

.section_daylog .daylog_section1 {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: flex-start;
    margin-left: 20%;
    margin-right: 100px;
}

.section_daylog .daylog_section2 ul {
    margin-left: 10%;
    list-style: none;
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 70%;
    line-height: 200%;
}

/* .daylog_section2 ul li {
    margin: 80%;
} */

.section_daylog .daylog_img {
    margin-left: 31%;
    align-items: start;
    margin-top: 0;
    padding-top: 01;
    font-size: 0.5vw;
    padding: 0;
    list-style: none;
    font-size: 1vw;
    list-style: none;
}

.section_daylog .daylog_seoul1 {
    width: 100%;
    height: 500px;
    background: url("https://dw82ptradz9jo.cloudfront.net/daylog/637244fdb01cb72648e21781/73c97f6d-afda-4943-91d0-282f08fdbbaf")
        no-repeat center;
    background-size: cover;
    margin-right: 15%;
}

.section_daylog .daylog_seoul2 {
    width: 100%;
    height: 500px;
    background: url("https://dw82ptradz9jo.cloudfront.net/daylog/638a220320649148736e79bf/4359f2b0-0f55-449a-a279-d96c02d45d6d")
        no-repeat center;
    background-size: cover;
    margin-right: 15%;
}

.section_daylog .daylog_seoul3 {
    width: 100%;
    height: 500px;
    background: url("https://dw82ptradz9jo.cloudfront.net/daylog/63421598c29b1d44a67cffdf/4be8277d-fccf-4808-a63e-030e4ea94254")
        no-repeat center;
    background-size: cover;
    margin-right: 15%;
}
.section_daylog .daylog_img_section1 {
    grid-template-areas: daylog_img;
    list-style: none;
}

.section_daylog .daylog_img2 {
    list-style: none;
}

.section_daylog .daylog_seoul {
    margin-right: 15%;
}

.section_daylog .daylog_section3 {
    width: 100%;
    height: 100%;
    margin-right: 20%;
    overflow: hidden;
}
