* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    background-color: rgb(239, 238, 233);
}
.main-video {
    height: 100%;
    width: 100%;
}

.main-video video {
    width: 100vw;
}
.content {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: center;
}

.content2 {
    display: flex;
    padding-right: 30vw;
}

.content2 .title {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    font-family: "Lao MN";
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.content2 .title .title_child {
    margin-top: 150px;
}

.content2 .title .event {
    height: 33vw;
    font-size: 15vw;
    color: #f5f1e4;
    -webkit-text-stroke: 3px #f34a00;
}

.content2 .title .desc {
    color: #f34a00;
    font-size: 4vw;
    margin-left: 13px;
}

.card_parent {
    height: 100%;
    padding-right: 30vw;
}

.card_parent .card_child {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 40vw;
}

.card_parent .item {
    margin: 1vw;
    width: 30vw;
    height: 40vw;
    position: relative;
    transform: translateY(400%);
    transition: transform 0.8s ease;
}

.card_parent .item .img {
    background-size: cover;
    z-index: 10;
    position: absolute;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.card_parent .item .img:hover {
    box-shadow: 5px 5px 20px rgb(59, 59, 59);
}

.item:nth-of-type(even) {
    transform: translateY(-400%);
}

.item.show {
    transform: translateY(0);
}

.Box1 {
    background: url("../img/E1.png") no-repeat;
    background-size: cover;
}
.Box2 {
    background: url("../img/E2.png") no-repeat;
    background-size: cover;
}
.Box3 {
    background: url("../img/E3.png") no-repeat;
    background-size: cover;
}
.Box4 {
    background: url("../img/E4.png") no-repeat;
    background-size: cover;
}
.Box5 {
    background: url("../img/E5.png") no-repeat;
    background-size: cover;
}
.Box6 {
    background: url("../img/E6.png") no-repeat;
    background-size: cover;
}
.Box7 {
    background: url("../img/E7.png") no-repeat;
    background-size: cover;
}

.imgText {
    font-family: "NanumSquareNeo-Variable";
    color: #fff;
    font-size: 1.5vw;
    text-align: end;
    text-shadow: 1px 1px 10px rgb(46, 46, 46);
    margin: 30px;
}
@font-face {
    font-family: "NanumSquareNeo-Variable";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
        format("woff2");
    font-weight: normal;
    font-style: normal;
}
.hover {
    font-family: "NanumSquareNeo-Variable";
    color: #fff;
    font-size: 0.9vw;
    text-align: end;
    margin-top: 15px;
    text-shadow: 1px 1px 10px rgb(46, 46, 46);
}
.num {
    z-index: 9;
    position: absolute;
    top: -9vw;
    left: -1vw;
    font-family: "Breadley Sans";
    font-style: italic;
    color: #f34a00;
    font-size: 8vw;
}
.explore {
    position: absolute;
    left: -45px;
    bottom: -45px;
    z-index: 12;
    font-size: 1vw;
    background: #ee9c79;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.explore:hover {
    background-color: #fff;
    color: #f34a00;
}

.gallery__text {
    font-family: "Lao MN";
    font-size: 7vw;
    color: #f5f1e4;
    -webkit-text-stroke: 3px #f34a00;
}

.gallery_child {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s;
}

.gallery_child:hover {
    color: #f34a00;
    -webkit-text-stroke: 1px #fff;
}

.o-h1 {
    margin-bottom: 1vw;
}

.daylog_main {
    background-color: rgb(239, 238, 233);
    padding-top: 50%;
}

.daylog_title {
    font-size: 11vw;
}

.video_on_title {
    position: absolute;
    text-align: center;
    font-size: 400px;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.video_on_text1 {
    position: absolute;
    font-size: 31px;
    top: 60%;
    left: 7%;
    transform: translate(-20%, -50%);
    color: #fff;
}

.video_on_text2 {
    position: absolute;
    font-size: 14px;
    top: 70%;
    left: 7%;
    /* transform: translate(-20%, -50%); */
    color: #fff;
}

.video_on_text3 {
    position: absolute;
    font-size: 31px;
    top: 70%;
    left: 7%;
    /* transform: translate(-20%, -50%); */
    color: #fff;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.daylog_font_color {
    color: #fff;
}

.scroll_green > span:hover {
    border-bottom: 3px solid white;
    cursor: pointer;
}
